@page "/trips/create"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager

<h3 class="card-title">Create New Trip</h3>
<hr />
<br />

<FormComponent ButtonText="Create Trip" trip="trip" OnValidSubmit="@CreateTrip" />

@code {
    Trip trip = new Trip();

    private IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task CreateTrip()
    {
        await _client.PostAsJsonAsync(Endpoints.TripsEndpoint, trip);
        _navManager.NavigateTo("/trips/");
    }
}
