@page "/events/create"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager

<h3 class="card-title">Create New Event</h3>
<hr />
<br />

<FormComponent ButtonText="Create Event" eve="eve" OnValidSubmit="@CreateEvent" />

@code {
    Event eve = new Event();

    private IList<Schedule> Schedules;

    protected async override Task OnInitializedAsync()
    {
        Schedules = await _client.GetFromJsonAsync<List<Schedule>>($"{Endpoints.SchedulesEndpoint}");
    }

    private async Task CreateEvent()
    {
        await _client.PostAsJsonAsync(Endpoints.EventsEndpoint, eve);
        _navManager.NavigateTo("/events/");
    }
}

