@page "/flights/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Flight</h3>

<FormComponent flight="flight" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Flight flight = new Flight();
    protected async override Task OnParametersSetAsync()
    {
        flight = await
      _client.GetFromJsonAsync<Flight>($"{Endpoints.FlightsEndpoint}/{id}");
    }
}