@page "/fligaccos/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Flight + Hotel Makes</h3>
<br />

@if (FligAccos == null)
{
    <div class="alert alert-info">Loading Flight + Hotel...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Flight + Hotel Id</th>
                @*<th>Flight + Hotel</th>*@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fligacco in FligAccos)
            {
                <tr>
                    <td>@fligacco.Id</td>
                    <td>
                        <a href="/customers/view/@fligacco.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/customers/edit/@fligacco.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(fligacco.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<FligAcco> FligAccos;

    protected async override Task OnInitializedAsync()
    {
        FligAccos = await _client.GetFromJsonAsync<List<FligAcco>>($"{Endpoints.FligAccosEndpoint}");
    }

    async Task Delete(int fligaccoId)
    {
        var fligacco = FligAccos.First(q => q.Id == fligaccoId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {fligacco.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.FligAccosEndpoint}/{fligaccoId}");
            await OnInitializedAsync();
        }


    }

}
