@page "/schedules/create"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager

<h3 class="card-title">Create New Schedule</h3>
<hr />
<br />

<FormComponent ButtonText="Create Schedule" schedule="schedule" OnValidSubmit="@CreateSchedule" />

@code {
    Schedule schedule = new Schedule();

    private IList<Trip> Trips;

    protected async override Task OnInitializedAsync()
    {
        Trips = await _client.GetFromJsonAsync<List<Trip>>($"{Endpoints.TripsEndpoint}");
    }

    private async Task CreateSchedule()
    {
        await _client.PostAsJsonAsync(Endpoints.SchedulesEndpoint, schedule);
        _navManager.NavigateTo("/schedules/");
    }
}
